html{
    width:100%;
    background-color: grey;
}

body{
    text-align:center;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    
}

p {
    font-size: medium;
    font-family: fantasy;
    color: white;
}

.q1{
    font-size: medium;
    font-family: fantasy;
    color: green;
}

.q2{
    font-size: medium;
    font-family: fantasy;
    color: blue;
}

.q3{
    font-size: medium;
    font-family: fantasy;
    color: purple;
}

.q4{
    font-size: medium;
    font-family: fantasy;
    color: maroon;
}

.q5{
    font-size: medium;
    font-family: fantasy;
    color: violet;
}

.q6{
    font-size: medium;
    font-family: fantasy;
    color: navy;
}

div{
    margin-left:auto;
    margin-Right:auto;
}
