html{
    width:100%;
    background-color: grey;
}

body{
    width: 80%;
    height: 100%;
    background-color:white;
}

p {
    font-size: medium;
    font-family: fantasy;
    color: white;
}

.q1{
    font-size: medium;
    font-family: fantasy;
    color: green;
}

.q2{
    font-size: medium;
    font-family: fantasy;
    color: blue;
}

.q3{
    font-size: medium;
    font-family: fantasy;
    color: purple;
}

.q4{
    font-size: medium;
    font-family: fantasy;
    color: maroon;
}

.q5{
    font-size: medium;
    font-family: fantasy;
    color: violet;
}

.q6{
    font-size: medium;
    font-family: fantasy;
    color: navy;
}
